<h3 class="mb-5">Polls</h3>
<% if @polls.present? %>
  <% @polls.each do |poll| %>
    <%= link_to admin_poll_path(poll) do %>
      <div class="card shadow-sm rounded p-3 mb-3">
        <div class="nav">
          <div><%= poll.title%></div>
          <div class="ml-auto">
            <%= poll.company.name %>
            <span class="ml-4"><%= poll.status ? "Open" : "Closed" %></span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p>There are no polls.</p>
<% end %>
