<% unless current_user.is_admin? %>
  <h3>Hello <%= current_user.first_name %>! Welcome back.</h3>
<% end %>
<% if current_user.is_admin? %>
  <ul class="nav">
    <li class="nav-item">
      <%= link_to 'Add company', new_admin_company_path, class: "nav-link btn-primary mr-2" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Create a poll', new_admin_poll_path, class: "nav-link btn-primary" %>
    </li>
  </ul>
<% end %>
